*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(211, 208, 204);
}
table{
    width: 100%;
    margin-top: 20px;
    height: 100px;
    background-color: white;
    /* display: flex;
    justify-content: center; */
}
.log{
    padding-left: 90px;
}
.home,a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
a{
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.home{
    padding-left: 50px;
}
.color{
    font-size: 30px;
}
.font{
    font-size: 15px;
    color: rgb(184, 169, 169);
}
.btn{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-right: 40px;
    width: 40%;
}
#page{
    background-image: url(img/office-skyscrapers-business-district_107420-95733.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    background-position: center;
}
.tittle{
   position: absolute;
   top: 50px;
   left: 100px;
   padding: 50px;
   text-align: center;
   margin-top: 100px;
   margin-left: 100px;
}
P{
    font-size: 60px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.head{
    font-size: 15px;
}
.box{
    color: white;
    border: 1px solid white;
    width: 50px;
    padding-bottom: 5px;
    padding: 20px;
    padding-top: 15px
}